<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div class="container">
  <main>
    <div class="py-4 text-center">
      <a href="{% url 'home' %}"><img class="d-block mx-auto mb-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Bananas.svg/1280px-Bananas.svg.png" alt="" width="72" height="57"></a>
      <h2>Registration</h2>
    </div>
    <div class="row g-5"  style="margin-left:350px">
      <div class="col-md-7 col-lg-7">
        {% if messages %}
        {%for message in messages %}
        <div class="d-flex justify-content-center" style="margin-top:70px">
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        </div>
        {% endfor %}
        {% endif %}
          {% if form.errors %}
            <div class="d-flex justify-content-center" style="margin-top:70px">
                <div class="alert alert-warning">Your login and password does not match. Please try again.</div>
            </div>
          {% endif %}
        <form class="needs-validation" novalidate="" method="POST" action="" id="new_user_form" >
              {% csrf_token %}
            <div class="row g-3">
                <div class="col-sm-6">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                </div>
            <div class="col-sm-6">
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
            </div>
            <div class="col-12">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <div class="col-12">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
           <div class="col-12">
                {{ form.confirm_password.label_tag }}
                {{ form.confirm_password }}
            </div>
          <hr class="my-4">
            <input type="submit" class="w-100 btn btn-sm btn-warning " value="register" style="margin-top:10px">
         </div>
        </form>
      </div>
    </div>
  </main>
</div>
</body>
</html>