{% extends 'basic.html' %}
{% block title %}Post{% endblock %}
{% block body%}
<div class="container" style="margin-top:70px" >
    <div class="raw">
        <div class="col-md-8 offset-md-2 images-post">
            <div class="card shadow-sm p-1" style="">
                <div class="col-12 lead" style="padding:10px" >
                    <h4 style="text-align: left;">&nbsp;</h4>
                    <p><img src="https://i.ibb.co/c1yPcPz/photo-2021-08-20-08-16-16.jpg" alt="" width="183" height="183" style="float: right; border-radius: 10px;" /></p>
                    <div class="h4">Hello! My name is Igor Vasilenko. I developed this site to show you my abilities in Django-framework. Also there is&nbsp;link where you can see presented features.</div>
                    <hr />
                    <p style="text-align: left;">For now i have skill in:</p>
                    <ul>
                        <li><em>Python</em></li>
                        <li><em>Flask, Django</em></li>
                        <li><em>Good knowledge SQL syntax</em></li>
                        <li><em>MySQL, SQL Server, PostgresSQL, SQLite</em></li>
                        <li><em>NoSQL: Redis&nbsp;</em></li>
                    </ul>
                    <p>I Acquainted with: GitFlow, Scrum, Terminal, HTML, CSS, Linux, VPS\VDS.</p>
                    <p>I started learning Python in August 2021, i have a great desire to improve my skill and contribute in your company and project.</p>
                    <p>Best regards, Igor.</p>
                    <p style="text-align: left;"><strong>Contacts:</strong></p>
                    <ul>
                        <li style="text-align: left;">Viber, Telegram - +380635873006</li>
                        <li style="text-align: left;">Email - <a href="mailto:ig.vasylenko2@gmail.com">ig.vasylenko2@gmail.com</a></li>
                        <li style="text-align: left;"><a href="https://github.com/karonion">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
