{% extends 'basic.html' %}
{% block title %}Creating post{% endblock %}
{% block body %}
<div class="container ">
  <main>
    <div class="py-5 text-center">
      <div class="display-4">To add post</div>
    </div>
      <div class="col-md-12 col-lg-12 align-self-center">
        <form class="needs-validation" method="post" enctype="multipart/form-data">
             {% csrf_token %}
          <div class="row g-1 align-items-center ">
            <div class="col-md-6 offset-md-2 ">
                <p>{{ image_form.title.label }}</p>
                {{ image_form.title }}
            </div>
            <div class="col-md-6 offset-md-2">
                <p>{{ image_form.preview.label }}</p>
                    {{ image_form.preview }}
            </div>
            <div class="col-md-6 offset-md-2 ">
                <p>{{ image_form.text.label }}</p>
                {{ image_form.text }}
            </div>
            <div class="col-md-6 offset-md-2">
                <p>{{ image_form.image.label }}</p>
                {{ image_form.image }}

                <button class="btn btn-primary btn-sm" type="submit" style="width:100px">Відправити</button>
            </div>
          </div>
        </form>
      </div>
  </main>
</div>





{% endblock %}

