<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

  <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color:#FDCE2A">  <!-- NAVIGATION COLOR -->
    <div class="container-fluid">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Bananas.svg/1280px-Bananas.svg.png" width="50px" style="border: 3px">
      <a class="navbar-brand" href="/"><text style="font-family:SEGOE SCRIPT;"> Banana's men</text></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: white">Features</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'about_us' %}" class="nav-link px-2" style="color:white">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_post' %}" style="color: white">Add post</a>
          </li>
        </ul>
        {% if user.is_authenticated %}
          </div>
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <div class="nav-link active">Hello, {{ user.get_short_name }}!</div>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
          </div>
        {% else %}
          </div>
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="accounts/login">Log in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/register">Register</a>
              </li>
            </ul>
          </div>
        {% endif %}
  </nav>
{% block body %}{% endblock %}
  {% block tail %}{% endblock %}
  <div  style="background-color:#FDCE2A">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top container">
      <p class="col-md-4 mb-0">© 2022  Banana's men</p>
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item">
          <a href="#" class="nav-link px-2" style="color:white">Up</a>
        </li>
      </ul>
    </footer>
  </div>
</body>