{% extends 'basic.html' %}
{% block title %}Feedback{% endblock %}
{% block body%}
<div class="container" style="margin-top:200px">
    <div class="row justify-content-center">
        <div class="col-6">
            <form class="needs-validation" novalidate="" method="POST" action="">
                {% csrf_token %}
                {{ forms.contact.label }}
                {{ forms.contact }}
                {{ forms.text.label }}
                {{ forms.text }}
                <input type="submit" value="Відправити" class="w-100 btn btn-lg btn-warning">
            </form>
        </div>
    </div>
</div>
{% endblock %}